.new-collections {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-bottom: 550px;
}

.new-collections h1 {
    color: #171717;
    font-size: 30px;
}

.new-collections hr {
    width: 200px;
    height: 8px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
    gap: 30px;
    row-gap: 80px;
}

.pagination {
    margin-top: 200px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
