.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list img{
    height: 163px;
}
.productdisplay-main-img{
    width: 586px;
    height: 600px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-details{
    display: flex;
    margin: 10px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-price{
    color: #ff4141;
}
.productdisplay-description{
    margin:10px 0px;
    font-size: 20px;
}
.productdisplay-category{
    color: #818181;
    margin-top:10px;
    font-size: 20px;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-usage{
    margin:20px 0px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .productdisplay {
        flex-direction: column;
        align-items: center;
    }

    .productdisplay-left {
        margin-bottom: 20px;
    }

    .productdisplay-main-img {
        width: 100%;
        height: auto;
    }

    .productdisplay-right {
        margin: 0px;
        align-items: center;
        text-align: center;
    }

    .productdisplay-right button {
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .productdisplay {
        margin: 0px 20px;
    }

    .productdisplay-left {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .productdisplay-img-list img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        
    }

    .productdisplay-main-img {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .productdisplay-right {
        margin: 0px;
        align-items: center;
        text-align: center;
    }

    .productdisplay-right button {
        margin-top: 20px;
    }
}
