
.shopCategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
    height: 400px;
}

.shopCategory-indexShot {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopCategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopCategory-indexShot p span {
    font-weight: 500;
}

.shopCategory-products {
    margin: 0 auto; 
    max-width: 1200px; 
    padding: 0 20px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 30px;
    row-gap: 80px;
}

.pagination {
    margin-top: 100px; 
    display: flex;
    justify-content: center;
}

.pagination button {
    margin: 0px 5px;
    padding: 5px 10px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media screen and (max-width: 1280px){
    .shopCategory-products{
        margin: 20px 100px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1024px){
    .shopCategory-products{
        margin: 20px 70px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .shopCategory-indexShot {
        margin: 20px 50px;
    }

    .shopCategory-products {
        margin: 20px 50px;
        grid-template-columns: 1fr 1fr;
    }

    .pagination {
        margin-top: 100px;
    }
}

@media screen and (max-width: 480px) {
    .shopCategory-banner {
        width: 100%;
    }

    .shopCategory-indexShot {
        margin: 0px 5px;
    }

    .shopCategory-products {
        margin: 20px 40px;
        grid-template-columns: 1fr;
    }

    .pagination {
        margin-top: 10px;
    }
}
